.cuadro_calc {
    max-width: fit-content;
    max-height: fit-content;
    background-color: #bbc2c7;
    padding: 60px;
    position: relative;
    right: 218px;
    bottom: 45px;
    transform: rotate(-2deg);
}

.grid_numeros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

.botonc {
    border-radius: 10px;
    border: transparent;
    padding: 10px;
}

.pantalla {
    background-color: lightgreen;
    position: relative;
    padding: 2px;
    bottom: 25px;
}

.contenido_pantalla {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}